@{
    ViewBag.Title = "Um Okkur";
}
<h2>Um Okkur</h2>


<p>Þessi vefsíða var hönnuð í verklegu námskeiði fyrir nemendur í Tölvunarfræði vorið 2014. Hópurinn okkur samanstendur af 3 einstaklingum, Braga Ægissyn, Grétari Má Margrétarsyni og Rafni Andra Haraldssyni.</p>
<p>Hér getur þú hlaðið inn skjátextum fyrir myndefni, þýtt skjátexta sem þú eða aðrir hafa sett inn eða sótt þýdda skjátexta fyrir þitt myndefni.</p>
