
.edit_button{
    border-radius:2px;
    background-color: #404040;
    color: white;
    padding: 5px 15px;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none !important;
}
.create_new{
    float:right;
    border-radius:3px;
    background-color:#95a5a6;    
}
.create_new a{
    color:white;
    text-decoration:none;
        padding:10px;
}
.edit_button a{
    color:white;
}
.inner{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}